
<ul>
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>

{{new-answer save2="save3"}}

<ul>
  {{#each model.questions as |question|}}
  {{question-tile question=question}}
    <!-- <li>{{question.head}}</li> -->
  {{/each}}
</ul>
